.boardWrapper {
  flex: 1;
  overflow: hidden;
  position: relative;
  touch-action: none;
  cursor: grab;
}

.boardWrapper:active {
  cursor: grabbing;
}

.boardTransform {
  position: absolute;
  will-change: transform;
}

.board {
  position: relative;
  width: 616px;
  height: 380px;
}
